################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Async/Async/obj
/Async/.vs
/Async/Async/bin/Debug
